.message-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem 1.5rem 0;
  border-radius: 10px;
  text-align: left;
  svg {
    margin: 0 0.5rem;
  }
  &.alert {
    background-color: map-get($alert, 'background');
    border-color: map-get($alert, 'border');
    color: map-get($alert, 'color');
  }
  &.info {
    background-color: map-get($info, 'background');
    border-color: map-get($info, 'border');
    color: map-get($info, 'color');
  }
  &.warning {
    background-color: map-get($warning, 'background');
    border-color: map-get($warning, 'border');
    color: map-get($warning, 'color');
  }
  &.success {
    background-color: map-get($success, 'background');
    border-color: map-get($success, 'border');
    color: map-get($success, 'color');
  }
}
